# Lista de exercícios 04

#### João Victor Aquino Correia

1. Implemente uma função Python para cada uma das seguintes métricas de regressão:

* MAE

* MSE

* RMSE (Raiz quadrada do MSE)

Cada função deve receber valores reais (y) e valores preditos (y_pred) como parâmetros de entrada e retornar o valor calculado da métrica. Esse parâmetros podem ser arrays do numpy ou DataFrames do Pandas. O ideal é realizar as operações de forma vetorizada, evitando acessar cada célula individualmente. Não usar as implementações já existentes do Scikit-Learn.

In [270]:
import numpy as np
import pandas as pd
import cmath
import math
from sklearn.metrics import mean_absolute_error, mean_squared_error
from sklearn.model_selection import train_test_split

In [271]:

def MAE (y_verdadeiros, y_estimados):
  y_dif = np.array(y_verdadeiros) - np.array(y_estimados)
  return sum(abs(y_dif))/len(y_verdadeiros)

In [272]:
# Exemplo
mat_a = [3, -0.5, 2, 7]
mat_b = [2.5, 0.0, 2, 8]
print(MAE(mat_a, mat_b))
print(mean_absolute_error(mat_a, mat_b))

0.5
0.5

In [273]:
def MSE(y_verdadeiros, y_estimados):
  y_dif = np.array(y_verdadeiros) - np.array(y_estimados)
  return sum(y_dif ** 2)/len(y_verdadeiros)

In [274]:
# Exemplo
print(MSE(mat_a, mat_b))
print(mean_squared_error(mat_a, mat_b, squared=True))

0.375
0.375

In [275]:
# Raiz quadrada
def RMSE (mat_a, mat_b):
  return MSE(mat_a, mat_b) ** 0.5

In [276]:
# Exemplo
print(RMSE(mat_a, mat_b))
print(mean_squared_error(mat_a, mat_b, squared=False))

0.6123724356957945
0.6123724356957945

2. Implemente uma função do Python para dividir de forma randomizada o dataset entre treino e teste. A função recebe como parâmetros:

* X - matriz com features

* y - vetor com rótulos

* perc_treino - percentual dos dados usados para treino seed - semente de randomização

A função deve retornar: X_train, y_train, X_test, y_test.  Não usar as implementações já existentes do Scikit-Learn.

In [277]:
def traino_e_teste (X, y, perc_treino = 0.75):
  n_train = int(round(len(y) * perc_treino))
  X_train = X[:n_train]
  y_train = y[:n_train]
  X_test = X[n_train:]
  y_test = y[n_train:]
  return [X_train, y_train, X_test, y_test]

In [278]:
data = np.random.rand(10, 3)
df = pd.DataFrame(data, columns=['x1', 'x2', 'y'])
df

         x1        x2         y
0  0.195935  0.704696  0.622352
1  0.181331  0.857826  0.611528
2  0.386088  0.005492  0.836141
3  0.142758  0.273456  0.543304
4  0.261026  0.069098  0.917533
5  0.670838  0.762149  0.612292
6  0.438775  0.109341  0.349700
7  0.948717  0.386212  0.971673
8  0.798618  0.239074  0.796601
9  0.631966  0.012244  0.893236

In [279]:
X = df [df.columns [:-1]]
X

         x1        x2
0  0.195935  0.704696
1  0.181331  0.857826
2  0.386088  0.005492
3  0.142758  0.273456
4  0.261026  0.069098
5  0.670838  0.762149
6  0.438775  0.109341
7  0.948717  0.386212
8  0.798618  0.239074
9  0.631966  0.012244

In [280]:
y = df [df.columns [-1:]]
y

          y
0  0.622352
1  0.611528
2  0.836141
3  0.543304
4  0.917533
5  0.612292
6  0.349700
7  0.971673
8  0.796601
9  0.893236

In [281]:
train_test_split(X, y)

[         x1        x2
 5  0.670838  0.762149
 6  0.438775  0.109341
 8  0.798618  0.239074
 2  0.386088  0.005492
 9  0.631966  0.012244
 4  0.261026  0.069098
 7  0.948717  0.386212,          x1        x2
 1  0.181331  0.857826
 3  0.142758  0.273456
 0  0.195935  0.704696,           y
 5  0.612292
 6  0.349700
 8  0.796601
 2  0.836141
 9  0.893236
 4  0.917533
 7  0.971673,           y
 1  0.611528
 3  0.543304
 0  0.622352]

In [282]:
traino_e_teste(X, y)[3]

          y
8  0.796601
9  0.893236